*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.main{
    width:100vw;
    height:100vh;
    position:absolute;
    background:linear-gradient(to right,rgb(0, 255, 255),rgb(0, 255, 144));
    overflow:hidden;
}
nav{
    width:80%;
    margin:20px auto;
    display:flex;
    align-items:center;
}
.logo{
    display:flex;
    align-items:center;
    position:absolute;
    z-index:1;
}
.logo img{
    width:60px;
    margin-right:10px;
}
.logo h2{
    font-size:1.8rem;
    font-weight:700;
}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul{
   
}
    .nav-links ul li {
        list-style: none;
        font-size: 20px;
        margin-left: 20px;
        
        display: inline-block;
    }
        .nav-links ul li a {
            text-decoration: none;
            color: white;
            transition: .5s;
        }
.nav-links ul li a:hover{
    color:purple;
}
.infomation{
    width:1000px;
    height:1000px;
    position:absolute;
    top:50%;
    left:-10%;
    transform:translateY(-50%);
}
#circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    border-radius:50%;
    transition:1s;
    transform:rotate(0deg);
}
.pc{
    position:absolute;
    z-index:1;
    top:400px;
    left:350px;
    width:300px;
}
.feature{
    display:flex;
    align-items:center;
    position:absolute;
    color:white;
}
.feature img{
    width:70px;
    margin-right:10px;
}
.feature h2{
    font-size:20px;
    font-weight:700;
}
.one{
    top:460px;
    right:70px;
}
.two{
    bottom:70px;
    right:460px;
    transform:rotate(90deg);
}
.three{
    top:460px;
    left:70px;
    transform:rotate(180deg);
}
.four{
    top:70px;
    right:460px;
    transform:rotate(-90deg);
}
.overlay{
    width:0;
    height:0;
    position:absolute;
    border-top:520px solid white;
    border-right:520px solid transparent;
    border-bottom:520px solid white;
    border-left:520px solid white;
}
.btn{
    position:absolute;
    right:20%;
    top:40%;
    text-align:center;
}
.btn img{
    width:100px;
}
.btn h2{
    width:60px;
    text-align:center;
}
#upBtn{
    cursor:pointer;
}
#downBtn{
    cursor:pointer;
    transform:rotate(180deg);
}